body{
    background-color: #F5F5F5;
}
h1 {
    color: #364F6B;
}
h3{
    color: #FC5185;
}
hr{
    border-color: rgba(95, 175, 228, 0.726);
    border-style: dotted none none none;
    border-width: 2mm;
    width: 5%;
}
